<a href="https://colab.research.google.com/github/BrianNyaberi/turbo-system/blob/main/salary_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Author(s): Brian Nyaberi
# License: BSD 3 clause

import numpy as py
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# import data
salary_data = pd.read_csv("/content/Salary_Data.csv")

In [3]:
# preview head data
salary_data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
# assign features to x
x = salary_data.drop("Salary", axis=1)

In [5]:
# assign label to y
y = salary_data['Salary']

In [6]:
# Split the data to test and train segments
x_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 101)

In [8]:
# Create a linear regression model
model = LinearRegression()

In [9]:
# Train the model by fitting training data
model.fit(x_train, y_train)

LinearRegression()

In [10]:
# Obtaining the model's predictins  
y_preds = model.predict(X_test)

In [11]:
y_preds

array([ 91100.58255782, 109297.20888234,  56622.76425873,  82481.12798305,
        40341.57228416, 117916.66345711, 116958.94628213,  74819.39058325,
       112170.36040726])